<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Studio</title>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- Include your custom css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/music/user.css') }}">

</head>

<body>
    <main>
      <nav class="main-menu">
        <div>
          <div class="user-info">
          
              {% if user.profile_image %}
                <img class="img" src="{{ url_for('static', filename=user.profile_image) }}" alt="Music Image"/>
              {% else %}
                <img class="img" src="{{ url_for('static', filename='images/no_image.jpg') }}" alt="MusicImage"/>
              {% endif %}
                <p>{{ most_downloaded.name }}</p>
            <p>{{ user.name }}</p>
          </div>
          <ul>

            <li class="nav-item active">
              <a href="{{ url_for('input_user') }}">
                <i class="fa fa-arrow-trend-up nav-icon"></i>
                <span class="nav-text">User</span>
              </a>
            </li>


            <div class="select-menu">
              <div class="select">
                <li class="nav-item">
                  <a href="#">
                    <i class="fa fa-arrow-trend-up nav-icon"></i>
                    <span class="nav-text">Music</span>
                  </a>
                </li>
              </div>
              <div class="options-list">
                <div class="option"><a href="{{ url_for('input_music') }}">Music Input</a></div>
                <div class="option"><a href="{{ url_for('report_music') }}">Music List</a></div>

              </div>
            </div>

            <div class="email-select-menu">
              <div class="email-select">
                <li class="email-nav-item">
                  <a href="#">
                    <i class="fa fa-arrow-trend-up nav-icon"></i>
                    <span class="email-nav-text">Email List</span>
                  </a>
                </li>
              </div>
              <div class="email-options-list">
                <div class="email-option"><a href="{{ url_for('group_email_input') }}">Email Group Input</a></div>
                <div class="email-option"><a href="{{ url_for('group_email_report') }}">Email List</a></div>
                <div class="email-option"><a href="{{ url_for('send_email_input') }}">Send Email</a></div>
                <div class="email-option"><a href="{{ url_for('send_email_report') }}">Sent Email List</a></div>
              </div>
            </div>

            <li class="nav-item">
              <a href="#">
                <i class="fa fa-circle-play nav-icon"></i>
                <span class="nav-text">Playlist</span>
              </a>
            </li>

            <li class="nav-item">
              <a href="#">
                <i class="fa fa-heart nav-icon"></i>
                <span class="nav-text">Reports</span>
              </a>
            </li>
          </ul>
        </div>

        <ul>
          
          <li class="nav-item">
            <a href="{{ url_for('logout') }}">
              <i class="fa fa-right-from-bracket nav-icon"></i>
              <span class="nav-text">Logout</span>
            </a>
          </li>
        </ul>
      </nav>

      <section class="content">
        <div class="left-content">
          <div class="slider-container">
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                    {% include "email_list/send_email/input_email_send.html" %}

                    <div class="slide-overlay">

                    <h2 hidden>Midnight Moods</h2>
                    <button hidden>
                      Listen Now <i class="fa-solid fa-circle-play"></i>
                    </button>
                  </div>
                </div>
              
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="artists">
            <h1>Most Downloaded</h1>
            {% include "report_ext/most_downloaded.html" %}
           
          </div>

          <div class="albums">

            <h1>Most Played</h1>
            {% include "report_ext/most_played.html" %}

          </div>
        </div>


        <div class="right-content">
          <div class="recommended-songs">
            <h1>Unpublished</h1>
            <div class="song-container">
              {% for unpublished in unpublished %}
              <div class="song">
                <div class="song-img">
                  {% if unpublished.image %}
                    <img class="img-50"  src="{{ url_for('static', filename=unpublished.image) }}" alt="Music Image"/>
                  {% else %}
                    <img class="img-50"  src="{{ url_for('static', filename='images/no_image.jpg') }}" alt="Music Image"/>
                  {% endif %}
                  <div class="overlay">
                    <i class="fa-solid fa-play"></i>
                  </div>
                </div>
                <div class="song-title">
                  <h2>{{ unpublished.name }}</h2>
                  <p>{{ user.display_name }}</p>
                </div>
                <span></span>
              </div>

              {% endfor %}
             
          </div>
          <div class="space_keeper">

          </div>
          
        </div>
      </section>
    </main>
    <script>
      const select = document.querySelector(".select");
      const options_list = document.querySelector(".options-list");
      const options = document.querySelectorAll(".option");
  
      //show & hide options list
      select.addEventListener("click", () => {
        options_list.classList.toggle("active");
        select.querySelector(".fa-angle-down").classList.toggle("fa-angle-up");
      });
  
      //select option
      options.forEach((option) => {
        option.addEventListener("click", () => {
          options.forEach((option) => { option.classList.remove('selected') });
          select.querySelector("span").innerHTML = option.innerHTML;
          option.classList.add("selected");
          options_list.classList.toggle("active");
          select.querySelector(".fa-angle-down").classList.toggle("fa-angle-up");
        });
      });

      const email_select = document.querySelector(".email-select");
      const email_options_list = document.querySelector(".email-options-list");
      const email_options = document.querySelectorAll(".email-option");

      //show & hide options list
      email_select.addEventListener("click", () => {
        email_options_list.classList.toggle("active");
        email_select.querySelector(".fa-angle-down").classList.toggle("fa-angle-up");
      });

      //select option
      email_options.forEach((option) => {
        option.addEventListener("click", () => {
          email_options.forEach((option) => { option.classList.remove('selected') });
          email_select.querySelector("span").innerHTML = option.innerHTML;
          option.classList.add("selected");
          email_options_list.classList.toggle("active");
          email_select.querySelector(".fa-angle-down").classList.toggle("fa-angle-up");
        });
      });
    </script>
  </body>
</html>