<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>King Tipps</title>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- Include your custom css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/music/input.css') }}">

</head>
<body>
  <div class="search-container">
    <h1>Upload Music</h1>
    <div class="search-bar">
      <form id="survey-form" action="{{ url_for('music_input') }}" method="POST" enctype="multipart/form-data">
        <input name="search" id="search" type="text" class="fieldset" placeholder="Search..."/>
      </form>
    </div>
  </div>
    <div class="container-upload-music">
      <form id="survey-form" action=" {{ url_for('music_edit', pid=edit_music.mic ) }}"  method="POST" enctype="multipart/form-data">
        
        <label class="label"  for="name"> Full name:
        </label>
        {% if edit_music.name %}
         <input id="name" value="{{ edit_music.name }}" name="name" type="text" class="fieldset" placeholder="Enter your track name"/>
        {% else %}
         <input id="name" value = "" name="name" type="text" class="fieldset" placeholder="Enter your track name"/>
        {% endif %}
        
        <label class="label" for="music_upload"> Current Image: 
          {% if music.image %}
            <img class="img-50"  src="{{ url_for('static', filename=music.image) }}" alt="Music Image"/>
          {% else %}
            <img class="img-50"  src="{{ url_for('static', filename='images/no_image.jpg') }}" alt="Music Image"/>
          {% endif %}
        </label>
        <label class="label" id="img_upload" for="img_upload"> Image Upload:
        </label>
        {% if edit_music.img_upload %}
          <input id="img_upload" value="{{ edit_music.img_upload }}" type="file" name='img_upload' class="fieldset" placeholder="Enter your full name"/>
        {% else %}
          <input id="img_upload" type="file" name='img_upload' class="fieldset" placeholder="Enter your full name"/>
        {% endif %}

        <label class="label" id="music_upload" for="music_upload"> Music Upload:
        </label>
        {% if edit_music.music_upload %}
        <input id="music_upload" value="{{ edit_music.music_upload }}" type="file" name='music_upload' class="fieldset" placeholder="Enter your full name"/>
        {% else %}
        <input id="music_upload" type="file" name='music_upload' class="fieldset" placeholder="Enter your full name"/>
        {% endif %}

        <label class="label" id="featuring_name" for="featuring_name"> Featuring Artist Name:
        </label>
        {% if edit_music.featuring_name %}
          <input id="featuring_name" value="{{ edit_music.featuring_name }}" type="text" name='featuring_name' class="fieldset" placeholder="Enter your featured artist name"/>
        {% else %}
          <input id="featuring_name" type="text" name='featuring_name' class="fieldset" placeholder="Enter your featured artist name"/>
        {% endif %}
               
        <label class="label" id="featuring_image" for="featuring_image">Featuring Artist Music Upload:
        </label>
        {% if edit_music.featuring_image %}
         <input id="featuring_image" type="file" value="{{ edit_music.featuring_image }}" name='featuring_image' class="fieldset" placeholder="Enter your featured artist file"/>
        {% else %}
          <input id="featuring_image" type="file" name='featuring_image' class="fieldset" placeholder="Enter your featured artist file"/>
        {% endif %}
        <button type="Submit" id="submit" class="submitbutton"><em>Submit<em></button>
      </form>
    </div>
</body>
</html>
