@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

body {
  margin:0;
  padding:0;
  background: #181818;
  font-family: Poppins;
}
body a {
  color: #aaaaaa;
}
body a:hover {
  color: #c8c8c8;
}

@media (max-width: 1400px) {
  .content__middle {
    width: 100%;
    height: 100%;
  }
 
}
@media (max-width: 768px) {
  .content__middle {
    width: 100%;
    height: 100%;
  }
}

.folder {
  background: #282828;
  color: #aaaaaa;
  width: 700px;
  margin-left: 120px;
}
.content__middle {
  width: 100%;
  height: 100%;
}
.playlist {
  padding: 15px;
  background: #282828;
  border-top: 1px solid #181818;
  border-bottom: 1px solid #181818;
}
.playlist:hover {
  background: #424242;
}
.playlist:hover a {
  color: white;
}
.playlist a {
  color: #aaaaaa;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.playlist a:hover {
  text-decoration: none;
}
.playlist a i {
  font-size: 24px;
  color: white;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .playlist {
    display: none;
  }
}
.playing {
  background: #282828;
  border-bottom: 1px solid #181818;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.playing__art img {
  width: 50px;
  height: 50px;
}
.playing__song {
  color: #aaaaaa;
  padding-left: 15px;
  display: flex;
  flex-flow: column wrap;
}
.playing__song a {
  color: #aaaaaa;
}
.playing__song a:hover {
  color: white;
  cursor: pointer;
}
.playing__add {
  margin-left: auto;
  padding-right: 15px;
  color: #aaaaaa;
}

@media (max-width: 768px) {
  .playing {
    border-top: 1px solid #181818;
  }
}
.current-track {
  background: #282828;
  padding: 5px 15px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.current-track__actions {
  width: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.current-track__actions a {
  font-size: 24px;
  color: #c8c8c8;
}
.current-track__actions a:hover {
  color: white;
  cursor: pointer;
}
.current-track__actions .play {
  font-size: 36px;
}
.current-track__progress {
  width: 70%;
  padding: 0 30px;
  color: #aaaaaa;
  font-size: 11px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}


.current-track__progress__bar .noUi-handle {
  background: #c8c8c8;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: none;
  border: none;
  left: 0;
  display: none;
}
.current-track__progress__bar .noUi-handle:before, .current-track__progress__bar .noUi-handle:after {
  background: none;
}
.current-track__progress:hover .noUi-handle {
  display: block;
}
.current-track__options {
  width: 25%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.current-track__options .lyrics {
  font-size: 11px;
  text-transform: uppercase;
  width: 15%;
  padding: 0 15px 0 0;
}
.current-track__options .controls {
  width: 85%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.current-track__options .controls .devices:hover {
  text-decoration: none;
}
.current-track__options .controls .devices i {
  margin-right: 5px;
}
.current-track__options .controls .devices span {
  font-size: 11px;
  text-transform: uppercase;
}
.current-track__options .controls .volume {
  width: 25%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.current-track__options .controls .volume i {
  width: 20px;
  color: #aaaaaa;
}
.current-track__options .controls .volume #song-volume {
  width: calc(80% - 20px);
  border: none;
  height: 4px;
}
.current-track__options .controls .volume #song-volume .noUi-base {
  background: #c8c8c8;
}
.current-track__options .controls .volume #song-volume .noUi-origin {
  background: #5e5e5e;
}
.current-track__options .controls .volume #song-volume .noUi-handle {
  background: #c8c8c8;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: none;
  border: none;
  left: 0;
  display: none;
}
.current-track__options .controls .volume #song-volume .noUi-handle:before, .current-track__options .controls .volume #song-volume .noUi-handle:after {
  background: none;
}
.current-track__options .controls .volume #song-volume:hover .noUi-handle {
  display: block;
}
@media (max-width: 1400px) {
  .current-track__actions {
    width: 10%;
  }
  .current-track__progress {
    width: 50%;
  }
  .current-track__options {
    width: 40%;
  }
}
@media (max-width: 980px) {
  .current-track__actions {
    width: 10%;
  }
  .current-track__progress {
    width: 40%;
  }
  .current-track__options {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .current-track__actions {
    width: 25%;
  }
  .current-track__progress {
    width: 75%;
  }
  .current-track__options {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .current-track__actions {
    width: 100%;
    justify-content: space-around;
    padding: 5px 0;
  }
  .current-track__progress {
    width: 100%;
    padding: 5px 0;
  }
  .current-track__options {
    width: 100%;
    padding: 5px 0;
  }
}

@media (max-width: 768px) {
  .current-track__action {
    padding-top: 15px;
  }
}
.artist {
  height: 617px;
  overflow-y: scroll;
}
.artist__header {
  height: 320px;
  border-bottom: 1px solid #282828;
  position: relative;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/spotify_img_bground.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.artist__header .artist__info {
  padding: 15px;
  z-index: 1;
  width: 80%;
  margin-top: 78px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}
.artist__header .artist__info .profile__img {
  margin-right: 15px;
}
.artist__header .artist__info .profile__img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.messages-media {
  right: 2%;
  top: 2%;
  position: absolute;
  width: 250px;
  height: 190px;
  background-color: #1ed760;
  border-radius: 30px;
}
.artist__header .artist__info__type {
  color: #aaaaaa;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
}
.artist__header .artist__info__name {
  color: white;
  font-size: 36px;
  font-weight: 100;
  padding: 0 0 10px 0;
}
.artist__header .artist__info__actions {
  display: flex;
  flex-flow: row wrap;
}
.artist__header .artist__info__actions button {
  margin-right: 10px;
  height: 27px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 15px;
  font-weight: 500;
}
.artist__header .artist__info__actions button i {
  font-size: 20px;
  margin-right: 5px;
}
.artist__header .artist__info__actions .more {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
}
.artist__header .artist__info__actions .more i {
  margin: 0;
  padding-left: 6px;
}
.artist__header .artist__listeners {
  width: 20%;
  z-index: 1;
  padding: 15px;
  text-align: left;
  color: #aaaaaa;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 1px;
}
.artist__header .artist__listeners__label {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}
.artist__header .artist__navigation {
  width: 100%;
  z-index: 1;
  background: rgba(24, 24, 24, 0.6);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.artist__header .artist__navigation ul {
  border: none;
}
.artist__header .artist__navigation ul li {
  padding: 0 15px;
}
.artist__header .artist__navigation ul li a {
  padding: 15px 0;
  color: #aaaaaa;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.4s ease;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
}
.artist__header .artist__navigation ul li a:hover {
  background: none;
  border: none;
  color: white;
  transition: all 0.4s ease;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
}
.artist__header .artist__navigation ul li.active a {
  color: white;
  background: none;
  border: none;
  border-bottom: 4px solid #1ed760;
}
.artist__header .artist__navigation ul li.active a:hover {
  border-bottom: 4px solid #1ed760;
}
.artist__header .artist__navigation__friends {
  padding: 15px;
}
.artist__header .artist__navigation__friends img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
}
.artist__header .artist__navigation__friends .tooltip {
  z-index: 1;
  position: absolute;
}
.artist.is-verified .profile__img {
  position: relative;
}
.artist.is-verified .profile__img:after {
  font-family: "Ionicons";
  content: "";
  position: absolute;
  bottom: 5px;
  right: 25px;
  color: white;
  background: #4688d7;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  line-height: 1;
}
.artist__content {
  padding: 15px;
}
.artist__content .overview {
  display: flex;
  flex-flow: row wrap;
}
.artist__content .overview__artist {
  padding-right: 15px;
  width: 70%;
}
.artist__content .overview__artist .latest-release {
  margin-bottom: 30px;
  display: flex;
  height: 120px;
  overflow: auto;
}
.artist__content .overview__artist .latest-release__art {
  width: 75px;
  height: 95px;
}
.artist__content .overview__artist .latest-release__art img {
  width: 75px;
  height: 100px;
  margin-left: 10px;

}
.artist__content .overview__artist .latest-release__song {
  width: 200px;
  padding: 10px 15px;
  background: #282828;
  color: #aaaaaa;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin-right: 30px;
}
.artist__content .overview__artist .latest-release__song__title {

  color: #c8c8c8;
  width: 200px;
  height: 24px;
  overflow: hidden;
  font-size: 22px;
  font-weight: 300;
}
.artist__content .overview__related {
  width: 30%;
}

.img-80 {
  max-height: 80px;
  width: 80px;
  border-radius: 50%;
  text-align: center;
  margin-right: 40px;
}
@media (max-width: 1024px) {
  .artist__content .overview__artist {
    width: 100%;
  }
  .artist__content .overview__related {
    width: 100%;
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .artist__content .overview__artist {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .artist {
    overflow-y: auto;
  }
}
@media (max-width: 768px) {
  .artist {
    overflow-y: auto;
  }
 

}

@media (max-width: 1634px) {

  .track__explicit {
    margin-left: 30px;
    margin-right: 60px;
  }
}

@media (max-width: 1200px) {
  .track__title {
    max-width: 60%;
    min-width: 60%;
  }

  .track__explicit {
    margin-left: 8px;
    margin-right: 15px;
  }
}

@media (max-width: 1000px) {

  .track__title {
    max-width: 1000px;
    min-width: 1000px;
  }
  .track__explicit {
    display: none;
  }

}


@media (max-width: 866px) {
  .track__title {
    max-width: 55%;
    min-width: 55%;
  }
  .track__explicit {
    display: none;
  }


}


@media (max-width: 522px) {

  .artist__header {
    height: auto;
    flex-flow: column wrap;
  }
  .artist__header .artist__info {
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
  }
  .artist__header .artist__info .profile__img {
    margin-right: 0;
  }
  .artist__header .artist__info__type {
    margin-top: 10px;
  }
  .artist__header .artist__listeners {
    width: 100%;
    text-align: center;
  }
  
}

.album__tracks {
  height: 900px;
}
.tracks {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 15px;
  
}
.tracks__heading {
  color: #aaaaaa;
  height: 42px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.tracks__heading__number {
  margin-left: 50px;
  font-style: italic;
}
.tracks__heading__title {
  margin-left: 60px;
  margin-right: 30px;
  width: 45%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.tracks__heading__length {
  margin-left: auto;
  font-size: 20px;
}
.tracks__heading__popularity {
  font-size: 20px;
  margin-left: 55px;
  padding-right: 10px;
}
.tracks .track{
  border-top: 1px solid #282828;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.tracks .track:hover {
  background: #282828;
}
.tracks .track:last-child {
  border-bottom: 1px solid #282828;
}
.tracks .track__art img {
  width: 42px;
  height: 42px;
}
.tracks .track__number {

  margin-left: 10px;
  color: #aaaaaa;
  width: 30px;
  
}

.tracks .track__title {

  width: 35%;
  margin-top: 12px;
  margin-bottom: 10px;
  font-size: 24px;
  max-width: 60%;
    min-width: 60%;
  color: white;
  text-align: left;
  display: inline;
  overflow: hidden;
  padding-left: 75px;
}
.tracks .track__title.featured .title:after {
  content: "-";
  margin: 0 5px;
}
.tracks .track__title.featured .feature {
  color: #aaaaaa;
}
.tracks .track__title.featured .feature:after {
  content: ",";
  margin-right: 5px;
}
.tracks .track__title.featured .feature:last-child:after {
  content: "";
  margin-right: 0;
}
.tracks .track__title.featured .feature:hover {
  cursor: pointer;
  color: #c8c8c8;
  text-decoration: underline;
}
.tracks .track__explicit .label {

  border: 1px;
  border-style: solid;
  border-color: #424242;
  color: #424242;
  text-transform: uppercase;
  margin-left: 40px;
  margin-right: 80px;
  height: 150px;
}

/* Hide action buttons by default */
.music_info {
  display: none;
}
/* Show action buttons when row is active */
.hidden-info.active .music_info {
  background-color: #aaaaaa;
  max-width: 1000px;
  display: block;
  gap: 10px;
  font-size: 15px;
}

.track {
  cursor: pointer;
}

.img-50 {
  max-height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
}

@media (max-width: 1200px) {
  .tracks__heading__title {
    width: auto;
  }
  .tracks__heading__popularity {
    display: none;
  }
  .tracks .track__title {
    width: auto !important;
  }

  .tracks .track__popularity {
    display: none;
  }
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #373737;
}

@media (max-width: 650px) {
.h1 {
  font-size: 36px;
}
}
.h2, .navigation__list__header {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.red {
  color: #fc615c;
}
.red:hover {
  color: #fb302a;
}

.yellow {
  color: #fdbe41;
}
.yellow:hover {
  color: #fcad0f;
}

.green {
  color: #34c94a;
}
.green:hover {
  color: #2aa03b;
}

button {
  border-radius: 20px;
  border: none;
  padding: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  outline: none;
}
button:hover {
  cursor: pointer;
}

.button-dark {
  background: #1ed760;
  color: white;
  border: 1px solid #1ed760;
}
.button-dark:hover {
  background: #43e57d;
}

.button-light {
  background: none;
  color: #c8c8c8;
  border: 1px solid #c8c8c8;
}
.button-light:hover {
  border-color: white;
  color: white;
}

.section-title {
  text-transform: uppercase;
  color: #aaaaaa;
  letter-spacing: 1.25px;
  font-size: 13.2px;
  margin-bottom: 10px;
}


