
<h1 class="page-header-download">Most Downloaded</h1>
<div class="artist-container containers">
    
    {% if most_downloaded %}
        {% for most_downloaded in most_downloaded %}
        <div class="artist">
        {% if most_downloaded.image %}
            <img  class="img-most" src="{{ url_for('static', filename=most_downloaded.image) }}" alt="Music Image"/>
            {% else %}
            <img  class="img-most" src="{{ url_for('static', filename='images/no_image.jpg') }}" alt="MusicImage"/>
            {% endif %}
        <p class="most-downloaded-song-name">{{ most_downloaded.name }}</p>
        </div>
        {% endfor %}
    {% else %}
        <p>Nothing to report</p>
    {% endif %}
  </div>

