
<link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}">

<div class="artist__content">

    <div class="tab-content">

        <!-- Overview -->

            <div class="overview">

                <div class="overview__artist">

                     <!-- Latest Release-->
                     <div class="section-title">Album(s)</div>

                     <div class="latest-release">
                         {% for unique_playlists in unique_playlists %}
                         <div class="latest-release__art">
                             {% if unique_playlists.image %}
                                 <img class="img" src="{{ url_for('static', filename=unique_playlists.image) }}" alt="Music Image"/>
                             {% else %}
                                 <img src="{{ url_for('static', filename='images/model.png') }}" alt="G-Eazy" />
                             {% endif %}
                         </div>

                         <div class="latest-release__song">

                             <div class="latest-release__song__title">{{ unique_playlists }}</div>

                             <div class="latest-release__song__date">
                                 <div>
                                     
                                 </div>
                                 <span>{{ unique_playlists.date_time }}</span>

                             </div>

                         </div>
                         {% endfor %}
                     </div>
                     <!-- / -->


                </div>

            </div>

        </div>


        <div class="album__tracks">

            <div class="tracks">

                <div class="tracks__heading">

                    <div class="tracks__heading__number">#</div>

                    <div class="tracks__heading__title">Song</div>

                    <div class="tracks__heading__length">

                        <i class="ion-ios-stopwatch-outline"></i>

                    </div>

                    <div class="tracks__heading__popularity">

                        <i class="ion-thumbsup"></i>

                    </div>

                </div>
                {% for music in music %}
                <div class="hidden-info">
                    <div class="track">

                        <div class="track__number">
                            {% if music.image %}
                                <img class="img-50" src="{{ url_for('static', filename=music.image) }}" alt="Music Image"/>
                            {% else %}
                                <img class="img-50" src="{{ url_for('static', filename='images/model.png') }}" alt="G-Eazy" />
                            {% endif %}
                        </div>

                        <div class="track__added">

                            <i class="ion-checkmark-round added"></i>

                        </div>

                        <div class="track__title">{{ music.name }}</div>

                        <div class="track__explicit">

                            <span class="label">Explicit</span>

                        </div>
                        <button class="button-dark" onclick="playMusic('{{music.file}}', '{{music.mic}}')" id="play-{{music.mic}}">
                            <i class="ion-ios-play"></i>
                            Play
                        </button>

                    </div>

                    <div class="music_info">
                        <p>Title: {{ music.name }}</p><br>
                        {% if music.featuring_name %}
                            <p>featuring_name: {{ music.featuring_name }}</p><br>
                        {% endif %}
                        <p>Date Released: {{ music.date_time }}</p><br>
                        <p>Price: {{ music.price }}</p><br>
                        <button class="button-dark" onclick="downloadMusic('{{music.file}}', '{{music.mic}}')" id="play">
                            <i class="ion-ios-play"></i>
                            download
                        </button>
                        <a class="button-dark" href="{{ url_for('download_music', pid=music.mic) }}"><button  id="download">Download</button></a>
                    </div>
                </div>
                
                {% endfor %}
            </div>

        </div>

    </div>
   
</div>