<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>King Tips</title>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- Include your custom css -->
    <style>
        
        
        .artist__header:before {
            content: " ";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            opacity: 0.15;
            background-image: url("{{ url_for('static', filename='images/bg.jpg') }}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}">

</head>
<header>
    <div class="title-navbar">
      {% include "navbar.html" %}
    </div>
</header> 
<body>
    <div class="content__middle">



            <div class="artist__header">

                <div class="artist__info">

                    <div class="profile__img">
                        {% if user.profile_image %}
                            <img class="img" src="{{ url_for('static', filename=user.profile_image) }}" alt="Music Image"/>
                        {% else %}
                        <img src="{{ url_for('static', filename='images/model.png') }}" alt="G-Eazy" />
                        {% endif %}
                    </div>
                    
                        <br>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <div class="messages-media">
                                <ul>
                                {% for message in messages %}
                                    <li >{{ message }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                        {% endwith %}
                        <br>
                    
                    <div class="artist__info__meta">

                        <div class="artist__info__type">{{user.role}}</div>

                        <div class="artist__info__name">{{ user.display_name }}</div>

                        <div class="artist__info__actions">
                            <button class="button-light">Services</button>
                            <button class="button-light">About</button>
                            <button class="button-light">Contact</button>

                        </div>

                    </div>

                </div>

                <div class="artist__listeners">

                    <div class="artist__listeners__count">60</div>

                    <div class="artist__listeners__label">Monthly Artists</div>

                </div>

            </div>
            {% include "bottom.html" %}
           

    </div>
    
    </section>
    <button class="show-more button-light">Show More</button>
    <script src="{{ url_for('static', filename='js/media.js') }}"></script>
</body>

</html>