
    <section >
      <div class="report-container">
      <div class="tbl-content">
        <h1 class="page-header">Email List</h1>
        <div class="sort-search">
          <div>
          <div class="sort-asnd_dsnd-container">
  
              <form id="survey-form" action="{{ url_for('email_sort_choice') }}" method="POST" enctype="multipart/form-data">


                <div class="select-menu1">
                  <div class="select1_span">
                    <p class="sort_by">Order By</p>
                  </div>
                  <div class="options-list1">
                    <div class="option1">
                      <input type="text" name="asnd_dsnd" value="asnd" readonly hidden>
                      Asnd
                    </div>
                    <div class="option1">
                      <input type="text" name="asnd_dsnd" value="dsnd" readonly hidden>
                      Dsnd
                    </div>
                  </div>
                </div>
  
  
                <div class="select-menu2">
                  <div class="select2_span">
                       <p class="sort_by">Sort By</p>
                  </div>
                  <div class="options-list2">
                    <div class="option2">
                      <input type="text" name="sort_choice" value="email" readonly hidden>
                      Email
                    </div>
                    <div class="option2">
                      <input type="text" name="sort_choice" value="email_group" readonly hidden>
                      Group
                    </div>
                  </div>
                  <div class="sort_submit_div">
                    <button class="sort_submit" type="submit">Submit</button>
                  </div>
                </div>
                </form>
  
          </div>
  
          <div class="search-container">
            
            <div class="search-bar">
              <form id="survey-form" action="{{ url_for('search') }}" method="POST" enctype="multipart/form-data">
                <input name="search" class="search_input" placeholder="Search..."/>
              </form>
            </div>
          </div>
        </div>
  
          <div class="search-container">
            
            <div class="search-bar">
              <form id="survey-form" action="{{ url_for('search') }}" method="POST" enctype="multipart/form-data">
                <input name="search" class="search_input" placeholder="Search..."/>
              </form>
            </div>
          </div>
        </div>
        <div class="border-list">
        <table cellpadding="0" cellspacing="0" border="0" >
          <tbody>
              <td class="list-name-head">Email</td>
              <td class="list-featuring-name-head">Email Group</td>

            {% for email in email %}
            
            <tr  class="music-row">
                
              <td class="list-name">{{ email.email }}</td>
              <td class="list-featuring-name">{{ email.email_group }}</td>

              <td class="action-buttons">
                <ul>
                  <li>
                    <p class="hidden-info-action-buttons">Date:    {{ email.date_time }}</p>
                  </li>
                  <li>
                    <p class="hidden-info-action-buttons">Subject: {{ email.topic }}</p>
                  </li>
                  <li>
                    <p class="hidden-info-action-buttons">Body:    {{ email.body }}</p>
                  </li>
               </ul>
               <a href="{{ url_for('email_edit', pid=email.sid) }}"><button class="list-edit-button" id="edit">Edit</button></a>
               <a href="{{ url_for('email_delete', pid=email.sid) }}"><button class="list-delete-button" id="edit">Delete</button></a>
               
              </td>
            </tr>
            
            {% endfor %}
          
          </tbody>
        </table>
      </div>
      </div>
    </div>
    </section>

</html>
